:root {
  --solidMobile-input-cell-background: var(--solidMobile-white);
  --solidMobile-input-cell-height-md: 46px;
  --solidMobile-input-cell-height-lg: 50px;
  --solidMobile-input-cell-height-sm: 42px;
  --solidMobile-input-cell-padding-x: 16px;
  --solidMobile-input-cell-padding-y: 10px;
  --solidMobile-input-cell-label-width: 30%;
  --solidMobile-input-lineHeight-normal: 24px;
}






.solidMobile-input-cell {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background: var(--solidMobile-input-cell-background);
  min-height: var(--solidMobile-input-cell-height-md);
  font-size: var(--solidMobile-font-lg);
  padding: var(--solidMobile-input-cell-padding-y) var(--solidMobile-input-cell-padding-x);

  &-large {
    min-height: var(--solidMobile-input-cell-height-lg);
    & .solidMobile-input-cell-field {
      height: calc(var(--solidMobile-input-lineHeight-normal) + 2px);
      line-height: calc(var(--solidMobile-input-lineHeight-normal) + 2px);
    }
  }

  &-small {
    min-height: var(--solidMobile-input-cell-height-sm);
    padding: calc(var(--solidMobile-input-cell-padding-y) - 2px) var(--solidMobile-input-cell-padding-x);
    & .solidMobile-input-cell-field {
      line-height: calc(var(--solidMobile-input-lineHeight-normal) - 2px);
    }
  }

  &-field {
    text-align: left;
    flex: 0 0 calc(100% - var(--solidMobile-input-cell-label-width) - var(--solidMobile-input-cell-padding-x));
    color: var(--solidMobile-dark-main);
    letter-spacing: 1px;
    height: var(--solidMobile-input-lineHeight-normal);
    line-height: var(--solidMobile-input-lineHeight-normal);
    resize: none;
  }

  &-disabled {
    input,textarea {
      background: var(--solidMobile-white);
      color: var(--solidMobile-dark-secondary);
    }
  }

  &-field-required::placeholder {
    color: var(--solidMobile-theme-danger);
  }

  &-error-tip {
    margin-top: 3px;
    flex: 0 0 100%;
    text-align: left;
    box-sizing: border-box;
    padding-left: var(--solidMobile-input-cell-label-width);
    color: var(--solidMobile-theme-danger);
    font-size: var(--solidMobile-font-sm);
  }

  &-label {
    display: inline-block;
    flex: 0 0 var(--solidMobile-input-cell-label-width);
    color: var(--solidMobile-dark-main);
    .icon { margin-right: 3px; }
    &::after {
      vertical-align: middle;
      content: '.';
      opacity: 0;
      display: inline-block;
    }
  }

  &-required {
    .solidMobile-input-cell-label {
      position: relative;
      // text-indent: 10px;
      &::before {
        content: '*';
        color: var(--solidMobile-theme-danger);
        font-size: var(--solidMobile-font-lg);
      }
    }
  }

  &-align-center {
    input {
      text-align: center;
    }
  }

  &-with-clear {
    .solidMobile-input-cell-field {
      flex: 0 0 55%;
    }
  }
  &-clearIcon {
    flex: 0 0 calc(100% - 85% - var(--solidMobile-input-cell-padding-y));
    text-align: right;
    float: right;
  }
}

.solidMobile-input-cell-with-label-top {
  .solidMobile-input-cell-label {
    flex: 0 1 100%;
    margin-bottom: 4px;
  }

  .solidMobile-input-cell-error-tip {
    padding-left: 0;
  }

  .solidMobile-input-cell-field {
    text-align: left;
    flex: 0 0 calc(100% - var(--solidMobile-input-cell-padding-x));
  }

  &.solidMobile-input-cell-with-clear {
    .solidMobile-input-cell-field {
      flex: 0 0 calc(100% - var(--solidMobile-input-cell-padding-x) - 10%);
    }
    .solidMobile-input-cell-error-tip {
      padding-left: 0;
    }
  }
  
}

.solidMobile-input-cell-with-label-center {
  .solidMobile-input-cell-label {
    text-align: center;
  }
}

.solidMobile-input-cell-field-limit {
  position: absolute;
  bottom: calc(0.5 * var(--solidMobile-input-lineHeight-normal));
  right: var(--solidMobile-input-lineHeight-normal);
  color: var(--solidMobile-dark-secondary);
  font-size: var(--solidMobile-font-sm);
}
