:root {
  --solidMobile-actionSheet-max-height: 80%;
  --solidMobile-actionSheet-header-height: 48px;
  --solidMobile-actionSheet-background: --var(--solidMobile-white);
  --solidMobile-actionSheet-animation: .8s;
  --solidMobile-actionSheet-animation-close: 0.6s;
  --solidMobile-actionSheet-singleLine-height: 50px;
  --solidMobile-actionSheet-both-height: 76px;
  --solidMobile-actionSheet-gap-color: #f7f8fa;
  --solidMobile-actionSheet-gap-height: 8px;
}

@keyframes ActionSheetShow {
  0% { max-height: 0; }
}

@keyframes ActionSheetHide {
  100% { max-height: 0; }
}

.solidMobile-actionSheet {
  width: 100%;
  position: fixed;
  max-height: var(--solidMobile-actionSheet-max-height);
  bottom: 0;
  background: var(--solidMobile-white);
  animation: ActionSheetShow linear var(--solidMobile-actionSheet-animation);

  &-overlay {
    width: 100%;
    height: 100%;
  }

  &-cancel-gap {
    background: var(--solidMobile-actionSheet-gap-color);
    height: var(--solidMobile-actionSheet-gap-height);
    width: 100%;
  }

  &.hide {
    animation: ActionSheetHide linear var(--solidMobile-actionSheet-animation-close);
  }

  &-item {
    text-align: center;
    &-single {
      height: var(--solidMobile-actionSheet-singleLine-height);
      line-height: var(--solidMobile-actionSheet-singleLine-height);
    }

    &-both {
      height: var(--solidMobile-actionSheet-both-height);
      box-sizing: border-box;
      padding: 10px 0;
      .solidMobile-actionSheet-item-name {
        margin: 7px 0;
      }
      .solidMobile-actionSheet-item-subname {
        margin: 7px 0;
      }
    }

    cursor: pointer;

    &-disabled {
      cursor: not-allowed;
    }
    
    &-name,&-subname {
      padding: 0;
      margin: 0;
      max-width: 100%;
      text-overflow: ellipsis;
    }
    &-name {
      font-size: var(--solidMobile-font-lg);
      color: var(--solidMobile-dark-main);
    }
    &-subname {
      font-size: var(--solidMobile-font-sm);
      color: var(--solidMobile-dark-secondary);
    }
  }

  &-round {
    border-radius: var(--solidMobile-border-radius-lg) var(--solidMobile-border-radius-lg) 0 0;
  }
}