:root {
  // 常用的颜色
  --solidMobile-white: #fff;
  --solidMobile-dark-weak: #c8c9cc;
  --solidMobile-dark-secondary: #969799;
  --solidMobile-border-color: #ebedf0;
  --solidMobile-dark-main: #323233;
  --solidMobile-theme-danger: #ee0a24;
  --solidMobile-theme-primary: #1989fa;
  --solidMobile-theme-warning: #ff976a;
  --solidMobile-theme-warningII: #ed6a0c;
  --solidMobile-theme-weak: #fffbe8;
  --solidMobile-theme-success: #07c160;
  --solidMobile-link-color: #1989fa;
  --solidMobile-background-color: #f7f8fa;
  // 透明度
  --solidMobile-active-opacity: .6;
  --solidMobile-disabled-opacity: .5;
  // 字体大小  
  --solidMobile-font-sm: 12px;
  --solidMobile-font-md: 14px;
  --solidMobile-font-lg: 16px;

  // 字体粗细
  --solidMobile-font-bold: 500;
  --solidMobile-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  --solidMobile-font-family-int: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;

  // 动画
  --solidMobile-animation-base: .3s;
  --solidMobile-animation-fast: .2s;

  // 边框和圆角
  --solidMobile-border-radius-sm: 4px;
  --solidMobile-border-radius-md: 8px;
  --solidMobile-border-radius-lg: 16px;
  --solidMobile-border-radius-circie: 999em;

  // size
  --solidMobile-large-size: 50px;
  --solidMobile-normal-size: 44px;
  --solidMobile-small-size: 36px;
}

@media (prefers-color-scheme: dark) {
  // 常用的颜色
  --solidMobile-white: #fff;
  --solidMobile-dark-weak: #c8c9cc;
  --solidMobile-dark-secondary: #969799;
  --solidMobile-border-color: #ebedf0;
  --solidMobile-dark-main: #323233;
  --solidMobile-theme-danger: #ee0a24;
  --solidMobile-theme-primary: #1989fa;
  --solidMobile-theme-warning: #ff976a;
  --solidMobile-theme-warningII: #ed6a0c;
  --solidMobile-theme-weak: #fffbe8;
  --solidMobile-theme-success: #07c160;
  --solidMobile-link-color: #1989fa;
  --solidMobile-background-color: #f7f8fa;
}

