@import url('./base.less');
@import url('./var.less');

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--lxgUI-font-family);
  background: var(--lxgUI-background-color);
}

input[class^="lxgUI"], 
button[class^="lxgUI"], 
textarea[class^="lxgUI"] {
  border: 0;
  outline: 0;
}

button[class^="lxgUI"], 
p[class^="lxgUI"], 
div[class^="lxgUI"], 
ul[class^="lxgUI"], 
li[class^="lxgUI"] {
  box-sizing: border-box;
}

